
 <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">일부를 일시적으로 속이는 것은 가능하다. 그러나 국민 전부를 끝까지 속이는 것은 불가능하다.<br><br><링컨></h1>
                <hr>
                <p>정치에 대한 무관심으로 큰 상처를 입었습니다. 아직 늦지 않았습니다. 정치는 살아있는 생물과 같아 꾸준한 관심을 줘야 옳바른 길로 나갑니다.</p>
                <a href="/party" class="btn btn-primary btn-xl page-scroll">정당개요</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">우리는 당신의 관심이 필요합니다!</h2>
                    <hr class="light">
                    <p class="text-faded">뽑아놓고 방치되고 있을 지 모르는 우리동네 국회의원을 찾고<br> 그들의 정보를 검색해 보세요</p>
                    <a href="/search" class="page-scroll btn btn-default btn-xl sr-button">의원검색</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">당신의 의견을 보내주세요!</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>국민신문고</h3>
                        <p class="text-muted">국민 신문고는 공무원들이 제일 민감한 민원 창구입니다.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>의원 메일</h3>
                        <p class="text-muted">국회 의원 개인 메일은 국회의원 보좌관이 확인하는 공식적인 메일입니다.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>SNS</h3>
                        <p class="text-muted">의원실을 넘어서 각 기관의 SNS는 파급력이 상당합니다.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>관심을 가져주세요</h3>
                        <p class="text-muted">여러분의 의견이 모두에게 큰 힘이 됩니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>