    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Party overview</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row well">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                        </div>
                        <img src="../assets/freelancer/img/portfolio/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <br>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                        </div>
                        <img src="../assets/freelancer/img/portfolio/cake.png" class="img-responsive" alt="">
                    </a>
                </div>
                <br>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                        </div>
                        <img src="../assets/freelancer/img/portfolio/circus.png" class="img-responsive" alt="">
                    </a>
                </div>
                <br>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                        </div>
                        <img src="../assets/freelancer/img/portfolio/game.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
            <!-- Footer -->
    <footer class="text-center well">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p><strong>서울특별시 영등포구
                            <br>여의도동 의사당대로 1</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        많은 관심 부탁드립니다.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>새누리당</h2>
                            <hr class="star-primary">
                            <img src="../assets/freelancer/img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <h3>현 집권 여당이자 국회 원내 1순위 정당</h3>
                            <p>대한민국의 중도우파 정당. 한나라당의 후신으로 모체는 1990년 3당 합당으로 창당 된 민주자유당. 현 국회 의석 수는 128석이며, 현직 대통령인 박근혜가 소속되어 있는 여당이다.</p>
                            <ul class="list-inline item-details">
                                <li>Hompage:
                                    <strong><a href="http://www.saenuriparty.kr/intro.jsp">http://www.saenuriparty.kr</a>
                                    </strong>
                                </li>
                                <li>facebook:
                                    <strong><a href="https://www.facebook.com/saenuridang">https://www.facebook.com/saenuridang</a>
                                    </strong>
                                </li>
                                <li>twitter:
                                    <strong><a href="https://twitter.com/saenuridang">https://twitter.com/saenuridang</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>더불어민주당</h2>
                            <hr class="star-primary">
                            <img src="../assets/freelancer/img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                            <h3>현 대한민국 제1야당이자 원내 제2당</h3>
                            <p>대한민국의 민주당계 정당이자 새정치민주연합의 후신. 대한민국 정계에 막강한 영향력을 행사하는 거대 양당의 한 축이다. 약 250~260만 명 정도의 당원이 있는 것으로 알려져 있다. 이는 대한민국에서 새누리당 다음의 규모다.</p>
                            <ul class="list-inline item-details">
                                <li>Hompage:
                                    <strong><a href="http://theminjoo.kr/">http://theminjoo.kr/</a>
                                    </strong>
                                </li>
                                <li>facebook:
                                    <strong><a href="https://www.facebook.com/theminjookr/">https://www.facebook.com/theminjookr/</a>
                                    </strong>
                                </li>
                                <li>twitter:
                                    <strong><a href="https://twitter.com/TheMinjoo_Kr">https://twitter.com/TheMinjoo_Kr</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="../assets/freelancer/img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                            <h3>자유주의, 중도개혁주의를 표방하는 한국의 정당</h3>
                            <p> 2016년 20대 총선을 기점으로 국내 제2야당이자 원내 제3정당이 되었다.</p>
                            <ul class="list-inline item-details">
                                <li>Hompage:
                                    <strong><a href="http://www.people21.kr/">http://www.people21.kr/</a>
                                    </strong>
                                </li>
                                <li>facebook:
                                    <strong><a href="https://www.facebook.com/saejeongchi0202">https://www.facebook.com/saejeongchi0202</a>
                                    </strong>
                                </li>
                                <li>twitter:
                                    <strong><a href="https://twitter.com/peopleparty21">https://twitter.com/peopleparty21</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>정의당</h2>
                            <hr class="star-primary">
                            <img src="../assets/freelancer/img/portfolio/game.png" class="img-responsive img-centered" alt="">
                            <h3>대한민국의 진보주의 정당. 정치노선은 사회민주주의, 진보주의, 페미니즘 등이다.</h3>
                            <p>통합진보당의 당내 패권주의와 종북주의를 우려한 혁신파들이 각각 통합진보당과 진보신당을 탈당한 후 모여 결성한 정당이다.</p>
                            <ul class="list-inline item-details">
                                <li>Hompage:
                                    <strong><a href="http://www.justice21.org/newhome/main/">http://www.justice21.org/</a>
                                    </strong>
                                </li>
                                <li>facebook:
                                    <strong><a href="https://www.facebook.com/justiceKR/?fref=ts">https://www.facebook.com/justiceKR/</a>
                                    </strong>
                                </li>
                                <li>twitter:
                                    <strong><a href="https://twitter.com/Kr_Justice">https://twitter.com/Kr_Justice</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    